# Python
__pycache__/
*.pyc
venv/

# Jupyter Notebooks
# .ipynb_checkpoints
# *.ipynb

# Data Files & Folders - IMPORTANT
# Ignore all common data formats and output folders
*.csv
*.tif
*.tiff
*.png
*.jpg
*.rtf
data/
reports/

# OS-specific files
.DS_Store
